.login_wrapper {
    text-align: center;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    margin-top: 10vh;
}

.card {
    display: grid;
    grid-template-rows: auto auto auto auto;
    width: min(80vw);
    margin: 10px auto;
    border: 1px solid lightgray;
    border-radius: 6px;
}

.fer_url {
    margin: 0 10px;
}

.card p {
    margin: 0;
}

.card_component_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card_component_wrapper div {

    flex: 0 1 90px;
    margin: 5px;
    text-align: center;
}

.card_title {
    margin: 10px;
    font-weight: bold;
}

.add_predmet_btn {
    border-radius: 0 0 4px 4px;
    width: 100%;
}