{% extends "base.html" %}

{% block content %}

<h2>Kako dodati predmet?</h2>
<p>Provjeri listu vec dodanih predmeta ispod, mozda te tvoj predemt vec ceka.</p>
<p>Ako ipak nije tako ...</p>

{%for predmet in predmeti %}
<div class="card">
    <div class="card_title">{{predmet.name}}</div>
    <a class="fer_url" href="{{predmet.fer_url}}" target="_blank">{{predmet.fer_url}}</a>
    <div class="card_component_gird">
        {%for komponenta in predmet.komponenta_set.all %}
        <div>
            <p>{{komponenta.name}}</p>
            <p>{{komponenta.max_points}}</p>
        </div>
        {% endfor %}
    </div>

    <div class="card_component_wrapper">
        <div class="predmet_two_clumns">
            <div>
                uvjeti:<br />
                {%for uvjet in predmet.uvjeti_set.all %}

                <div><b>{{uvjet.uvjet_tekst}}</b></div>
                {% endfor %}
            </div>
            <div class="predmet_ocjene">
                <pre>Dovoljan(2):   <strong>{{predmet.dovoljan}}</strong></pre>
                <pre>Dobar(3):      <strong>{{predmet.dobar}}</strong></pre>
                <pre>Vrlo Dobar(4): <strong>{{predmet.vrlo_dobar}}</strong></pre>
                <pre>Odlican(5):    <strong>{{predmet.odlican}}</strong></pre>
            </div>
        </div>
    </div>


    <a href="/add-predmet/{{predmet.id}}/">
        <button class="button-primary add_predmet_btn">Dodaj mojim predmetima</button>
    </a>
</div>
{% endfor %}

{% endblock %}