{% extends "base.html" %}

{% block content %}
<div class="login_wrapper">


    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
    {% endif %}

    <h2>Provjeri svoj fer-mail!</h2>

    <p>Ovaj jednokratni kod automatski ce ti stvoriti racun ukoliko ga vec nemas.</p>
    <p>Zelis se ulogirati na drugom uredaju? Sve sto trebas je i tamo upisati svoj fer mail, upisati kod i svi tvoji
        predmeti ce te vec cekati.</p>


    <form class="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Get In</button>
    </form>



</div>

<div class="helper_text">
    <p>pssst... u slucaju da ne dobijes kod u razomnom vremenu 😬 oops, ipak niko nije savrsen</p>
    <p>javi mi se na matej.butkovic@fer.hr i pokusat cu ispraviti probelm ili ti poslati kod</p>
</div>
{% endblock %}