{% extends "base.html" %}

{% block content %}

<div class="overview_wrapper">
    <div>
        <h3>Prosjek:
            <span>3.54</span>
        </h3>
    </div>
    <table class="overview_table">
        <tr>
            <th>Predmet</th>
            <th>Bodovi</th>
            <th>Ocjena</th>
            </th>
        </tr>
        {%for predmet in predmeti %}
        <tr class="points_row">
            <td>{{predmet.predmet}}</td>
            <td>{{predmet.points}}</td>
            <td>{{predmet.grade}}</td>
        </tr>

        {% endfor %}
    </table>



</div>



{%for stavka in predmeti %}
<div class="card">
    <div class="card_title">
        <div>
            <h3> {{stavka.predmet.predmet.name}}</h3>
        </div>
        <div>
            <h3 class="right">{{stavka.points}}</h3>
        </div>
    </div>
    <a class="fer_url" href="{{stavka.predmet.predmet.fer_url}}" target="_blank">{{stavka.predmet.predmet.fer_url}}</a>


    <div class="card_component_wrapper">

        {%for komponenta in stavka.komponente %}
        <div>
            <p><strong>{{komponenta.name}}</strong></p>
            <div>bodova: {{komponenta.points}} / {{komponenta.max_points}}</div>
            <div>prag: {{komponenta.prag}}</div>

            <div class="progress_bar">
                <div style="width: calc({{komponenta.points}}% * 100 / {{komponenta.max_points}} )"></div>
                {% if komponenta.prag > 0 %}
                <div class="prag" style="margin-left: calc({{komponenta.prag}}% * 100 / {{komponenta.max_points}} );">
                </div>
                {%endif%}

            </div>
        </div> {% endfor %} </div>
    <div class="card_component_wrapper">
        <div class="predmet_two_clumns">
            <div>
                uvjeti:<br />
                {%for uvjet in stavka.predmet.predmet.uvjeti_set.all %}

                <div><b>{{uvjet.uvjet_tekst}}</b></div>
                {% endfor %}
            </div>
            <div class="predmet_ocjene">
                <pre>Dovoljan(2):   <strong>{{stavka.predmet.predmet.dovoljan}}</strong></pre>
                <pre>Dobar(3):      <strong>{{stavka.predmet.predmet.dobar}}</strong></pre>
                <pre>Vrlo Dobar(4): <strong>{{stavka.predmet.predmet.vrlo_dobar}}</strong></pre>
                <pre>Odlican(5):    <strong>{{stavka.predmet.predmet.odlican}}</strong></pre>
            </div>
        </div>
    </div>
    <div class="card_component_wrapper">
        <table class="points_table">
            <tr>
                <th>
                    <pre>Opis          </pre>
                </th>
                <th>
                    <pre>Komponenta    </pre>
                </th>
                <th>
                    <pre>bodovi</pre>
                </th>
                <th>
                    <pre>    </pre>
                </th>
            </tr>
            {%for komponenta in stavka.predmet.komponentabodovi_set.all %}
            <tr>
                <td>{{komponenta.description|default:""}}</td>
                <td>{{komponenta.komponenta.name}}</td>
                <td>{{komponenta.points_collected}}</td>
                <td> <a href="/moj-predmeti/delete/{{komponenta.pk}}"> <button id="delete_row_btn"
                            class="button-danger delete_row_btn">x</button></a></td>


            </tr>
            {% endfor %}


        </table>
        <div class="intable_form" id="intable_form_{{stavka.predmet.id}}">
            <form method="post" action="/moj-predmeti/update/{{stavka.predmet.id}}">
                {% csrf_token %}

                {{ stavka.form.description }}
                {{ stavka.form.komponenta }}
                {{ stavka.form.points_collected }}

                <button type="submit" class="button-primary intable_input">Dodaj</button>

                {{ stavka.form.predmet }}
            </form>


        </div>

    </div>
    <button class="button-primary add_predmet_btn" id="points_plus_{{stavka.predmet.id}}">+</button>

</div>
<script>
    $("#points_plus_{{stavka.predmet.id}}").click(() => {

        $("#intable_form_{{stavka.predmet.id}}").css('display', 'inline-block')
    });

    $(".points_row").hover(() => {
        $("#delete_row_btn").css('display', 'block')
    })
</script>
{% endfor %}


<div class="centered_alone_btn">
    <a href="/dodaj-predmet/"> <button>Dodaj predmet mojim predmetima</button></a>
</div>



{% endblock %}