{% extends "base.html" %}

{% block content %}
<div class="login_wrapper">



    {% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
    {% endif %}

    <h2>✨Novi predmet!✨</h2>

    <form class="login_form" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Dodaj</button>
    </form>
    <p>Kad kliknes dodaj 🤖 ce pokusati procitati podatke o predmetu s ferweba a onda ces dobiti formu u kojoj te podatke mozes jos izmijenit.</p>



</div>


{% endblock %}